@use "../../../assets/styleGlobals/variants.scss" as *;
@use "sass:map";

.container_categories {
  padding: $spacing-xl $spacing-2xl;

  .categories_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    .list_item {
      display: flex;
      align-items: center;
      font-size: $font-size-sm;
      color: $text-gray;
      cursor: pointer;

      .list_separator {
        margin: 0 $spacing-sm;
        color: $text-gray;
        padding: 0;
      }

      .active {
        font-weight: bold;
      }

      .no_list_text {
        cursor: default;

        &:hover {
          color: $text-gray;
        }
      }
    }
  }
}

@media (max-width: map.get($breakpoints, small)) {
  .container_categories .categories_list .list_item {

    // aumenta un poco especificidad
    &:hover {
      color: $text-terciary-gray;
    }

    .list_text {
      color: $text-gray;
    }

    .list_text#{".active"} {
      font-weight: 700;
      color: $text-gray;
    }
  }
}