@use "../../../assets/styleGlobals/variants.scss" as *;
@use "sass:map";

.ListCard {
  max-width: map.get($breakpoints, xlarge);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $bg-white;
  margin: $spacing-2xl auto;
}

@media (max-width: map.get($breakpoints, small)) {
  .ListCard {
    max-width: 430px;
  }
}