@use "../../assets/styleGlobals/variants.scss" as *;
@use "sass:map";

.header {
  background-color: $bg-yellow;
  padding: 8px 0;
  width: 100%;
  display: flex;
  align-items: center;

  .container {
    max-width: map.get($breakpoints, xlarge);
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
    }

    .logoImage {
      width: 134px;
      height: 34px;
      object-fit: contain;
      cursor: pointer;
    }
  }
}
